body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    /*  I was hoping to stop the footer copyright from going WAY over to
    the right of the page when it was very large. Would you suggest a more
    elegant solution? Perhaps a certain distance from the center?
    
    max-width: 1300px;
    */
}
h1 {
  font-size: 50px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
p {
  font-size: 21px;
  color: Gray;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
#copy {
  text-align: right;
}
